:root {
    --color-dark: #333;
    --color-less-dark: #005F79;
    --color-light: #FFFAF4;
    --color-primary: #15E0CA;
    --color-secondary: #02001E;
    --content-width-max: 100ch;
    --content-width-min: 250px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 1rem;
    margin: 1rem 0;
    text-align: center;
    color: var(--color-dark);
}

button {
    padding: 0.75rem;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--color-primary);
    color: var(--color-light);
    cursor: pointer;
}

/* Nav */
nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    min-width: 200px;
    width: 15vw;
    height: 100vh;
    background-color: var(--color-dark);
    color: #fff;
    padding: 1rem;
}

nav img {
    position: relative;
    top: -4rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav h2 {
    text-align: center;
    position: relative;
    top: -5rem;
    font-size: 1rem;
    margin: 1rem 0;
    color: #ffffff;
}

nav ul {
    display: flex;
    position: relative;
    gap: 1rem;
    top: -5rem;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    padding: 1rem;
    color: #fff;
    font-size: 1.5rem;
}

nav a:hover {
    color: var(--color-primary);
}

/* Main */
main {
    margin-left: 16vw;
    height: 100vh;
    padding: 1rem;
    background-color: rgb(196, 185, 185);
}

main .chomps-col {
    display: flex;
    flex-direction: column;
    max-width: 100px ;
    gap: 1rem;
    height: 100vh;
}

main .main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    background-color: var(--color-light);
}

.main-row .action-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.main-row input {
    width: 20rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
}

.main-row input:active, .main-row input:hover, .main-row input:focus {
    border: 2px solid var(--color-primary);
}

#currentDateTime {
    font-size: 0.95rem;
    color: var(--color-less-dark);
    width: 10rem;
    padding: 0;

}

main .entry-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100%;
    background-color: var(--color-light);
}
/* Entries */
.entry-row .action-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.entry-row .entry-text {
    width: 20rem;
    padding: 0;
}

.entry-row .entry-date {
    font-size: 0.75rem;
    color: var(--color-less-dark);
    width: 10rem;
    padding: 0;

}




/* Media Queries */
@media screen and (max-width: 1068px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        height: 15vh;
        padding: 0;
    }

    nav img {
        display: flex;
        top: 0;
        width: 5rem;
        height: 5rem;
    }

    nav h2 {
        display: none;
    }

    nav ul {
        flex-direction: row;
        gap: 2rem;
        top: 0;
    }

    nav a {
        font-size: 1rem;
    }

    main {
        margin-top: 15vh;
        margin-left: 0;
        width: 100vw;
        height: 100vh;
    }
}